@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Hedvig+Letters+Serif:opsz@12..24&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Hedvig Letters Serif';
}

.home a{
    position: absolute;
    top: 2%;
    right: 3%;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
}

.home a:hover{
    color: #8e8e8e;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section{
    position: relative;
    width: 650px;
    background-color: transparent;
    border: 2px solid #ffffff80;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
}

form{
    width: 100%;
}
h1{
    font-size: 3rem;
    color: #fff;
    text-align: center;
    margin: 2rem;

}

h2{
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
}

.flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
    flex-basis: 40%;
    margin: 20px;
}
.inputbox-radio{
    position: relative;
    margin: 30px 0;
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    color: #fff;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

input:focus ~ label,
input:valid ~ label{
    top: -5px;
}



.inputbox input{
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0px 5px;
    color: #fff;
}


.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2rem;
    top: 20px;
}
.span-radio{
    padding: 20px;
    border: 2px solid #ccd0d5;
    border-radius: 20px; 
}
.forget{
    margin: 35px 0;
    font-size: 0.85rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.forget label{
    display: flex;
    align-items: center;
}

.forget a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.forget a:hover{
    text-decoration: none;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    background-color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

button:hover{
    background-color: #ffffff80;
}
.register {
    display: flex;
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    margin: 25px 0 0px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.btn-login{
    background: linear-gradient(to right, #43434300, #00000000);
    text-decoration: none;
    font-weight: 600;
    flex-basis: 40%;
    color: #fff;
    margin-bottom: 1rem;
    border: 2px solid #fff;
}

.btn-login:hover{
    text-decoration: none;
    color: #000;
}
.btn-register{
    text-decoration: none;
    font-weight: 600;
    flex-basis: 40%;
    color: #000;
    margin-bottom: 1rem;
}

.btn-register:hover{
    text-decoration: none;
}

.btn-registerP:hover{
    text-decoration: none;
}

a{
    text-decoration: navajowhite;
    color: #000;
}
